.church-info   {
    .block {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 135px 55px;
    }
    .info {
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        &__main-text {
            font-size: 64px;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: start;
            font-family: "DM Serif Display", serif;
        }
        &__line {
            border: 4px solid #2d1c4d;
            width: 75px;
            margin-bottom: 30px;
        }
        &__text {
            font-size: 18px;
            max-width: 395px;
            text-align: start;
            font-family: 'Lato';
            font-weight: 500;
            font-family: "DM Serif Display", serif;
        }
    }
}